/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v22-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }


/* глобальные стили */
*, *::after, *::before {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    appearance: none; /*сбрасывает внешний вид элемента во всех браузерах*/
    box-sizing: border-box;
}

:root {
    --color-primary: #617ac9;
    --color-danger: #ff7782;
    --color-success: #32c795;
    --color-white: #fff;
    --color-info-dark: #7c7c7c;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-background: #f6f6f9;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --box-shadow: 0 2rem 3rem var(--color-light);
  }
  
    .dark-theme-variables {
    --color-background:#181a1e;
    --color-white:#202528;
    --color-dark: #edeffd;
    --color-dark-variant:#a3bdcc;
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
  }

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    color: var(--color-dark);
    background-color: var(--color-background);

    
}

a {
    color: var(--color-dark);
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    object-fit: contain;
    border-radius: var(--border-radius-3) !important;
}

.danger {
    color: var(--color-danger);
}

h1 {
    font-size: 1.8rem;
    font-weight: 800;
}

h2 {
    font-size: 1.4rem;
    font-weight: 700;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size: 0.8rem;
}

h5 {
    font-size: 0.7rem;
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

.success {
    color: var(--color-success);
}

.primary {
    color: var(--color-primary);
}


.text-muted {
    color: var(--color-info-dark);
}

.danger-bg {
    background: var(--color-danger);
}

.success-bg {
    background: var(--color-success);
}

.primary-bg {
    background: var(--color-primary);
}

.container {
    display: grid;
    grid-template-columns: 14rem auto 23rem;
    gap: 3rem;
    width: 96%;
    margin: 0 auto;
}

/* левая колонка */
.left {
    height: 100vh;
}

.top {
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.logo {
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.close {
    display: none;
}

.logo__img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}

.name {
    text-transform: uppercase;
    font-weight: 800;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
}

.menu__link {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    gap: 1rem;
    margin-left: 2rem;
    height: 3.7rem;
    cursor: default;
}

.active {
    transition: all 0.7s;
    cursor: pointer;
}


.menu__link span {
    font-size: 1.6rem;
}

.menu__link:last-child {
    margin-top: 5rem;
}

.menu__title {
    font-weight: 800;
}

.active:hover {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}

.active:hover::before {
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}


/* средняя колонка */
main, .right {
    margin-top: 1.4rem;
}

.rewiew {
    background: var(--color-light);
    padding: 0.5rem 1.6rem;
    margin-top: 1rem;
    display: inline-block;
    border-radius: var(--border-radius-1);
}

.rewiew-item {
    display: flex;
    gap: 1rem;
}

.rewiew-btn {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    cursor: pointer;
    background: transparent;
}

.rewiew input {
    background: transparent;
    color: var(--color-dark);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.insights {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.art {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    margin-top: 2rem;
    transition: all 0.5s;
}

.popup:not(:target) {
    display: none;
}
  
.popup:target {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.9);
}

.full-img {
    max-width: 90%;
    max-height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.closeup {
    position: absolute;
    right: 30px;
    font-size: 50px;
    text-decoration: none;
    color: var(--color-danger);
}

.none-display {
    display: none;
}

.visible-all {
    display: grid;
}




.art:nth-child(4) {
    grid-column: span 2 / span 2;
}

.art:nth-child(5) {
    grid-column-start: 3;
}

.art:nth-child(6) {
    grid-row-start: 3;
}

.art:nth-child(7) {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.grid-fix {
    grid-row-start: 2 !important;
}


.art:hover, .updates:hover {
    box-shadow: none;
}

.middle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle h3 {
    font-size: 1rem;
    font-weight: 800;
    margin: 0 0 0.6rem 0;
}

.show-more {
    margin-top: 3rem;
}

.more {
    text-align: center;
    color: var(--color-primary);
    display: block;
    margin: 1.2rem auto;
    transition: all 0.5s;
}

.more:hover {
    color: var(--color-danger);
}

/* правая колонка */
.right-top {
    display: flex;
    justify-content: end;
    gap: 2rem;
}

#menu-btn {
    display: none;
}

.theme-toggler {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    width: 4.2rem;
    height: 1.6rem;
    cursor: pointer;
}

.theme-toggler span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.theme-toggler .on {
    color: var(--color-white);
    background-color: var(--color-primary);
    border-radius: var(--border-radius-1);
}

.profile {
    display: flex;
    text-align: right;
    gap: 1rem;
}

.info p {
    margin-bottom: 1rem;
}

.recent-updates {
    margin-top: 2rem;
}

.recent-updates h2 {
    margin-bottom: 0.8rem;
}

.updates {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    transition: all 0.5s;
}

.update {
    gap: 1rem;
    margin-bottom: 1rem;
}

.message {
    line-height: 1.5;
}

.message span {
    font-weight: 600;
}

.message b {
    color: var(--color-primary);
}

/* АДАПТАЦИЯ (СПАСАЙТЕ) */
@media (min-width: 1200px) and (max-width: 1440px) {
    .container {
        width: 94%;
        grid-template-columns: 15rem auto 17rem;
        gap: 1.5rem;
    }

    .insights {
        display: flex;
        flex-wrap: wrap;
        gap: 3rem;
    }
}

@media (min-width:1024px) and (max-width: 1199px) {
    .container {
        width: 94%;
        grid-template-columns: 7rem auto 17rem;
        gap: 1rem;
    }

    .insights {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    .logo__img {
        margin-left: 2rem;
        margin-top: 0.4rem;
    }

    .name, .menu__title {
        display: none;
    }

    .updates {
        padding: calc(var(--card-padding) - 0.8rem);
    }
    
    .item {
        padding: 1.4rem calc(var(--card-padding) - 0.8rem);
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .container {
        width: 94%;
        grid-template-columns: 15% 55% 25%;
        gap: 1rem;
    }

    .insights {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .logo__img {
        margin-left: 2rem;
    }

    .name, .menu__title {
        display: none;
    }

    .updates {
        padding: calc(var(--card-padding) - 0.7rem);
    }

    .update {
        grid-template-columns: 2rem auto;
    }

    h2 {
        font-size: 1.2rem;
        text-align: center;
    }

    h1 {
        font-size: 1.4rem;
    }

    .rewiew {
        padding: 0.3rem 1.2rem;
    }

    .rewiew-btn {
        padding: 2px;
        font-size: 14px;
    }

    .info p {
        font-size: 13px;
    }

    .profile span {
        font-size: 30px;
    }
}

@media (max-width: 767px) {

    .container {
        max-width: 94%;
        grid-template-columns: 1fr;
    }

    .left {
        display: none;
        position: fixed;
        left: 0;
        width: 18rem;
        background-color: var(--color-white);
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        padding-right: var(--card-padding);
    }

    h1 {
        margin-top: 1rem;
    }

    .profile span {
        margin-right: 10px;
        font-size: 30px;
    }

    .top {
        align-items: center;
    }

    .logo {
        margin-left: 1.6rem;
    }

    .name {
        font-size: 18px;
    }

    .menu__link {
    width: 100%;
    height: 3.4rem;
    }

    .menu__link:first-child,
    .menu__link:last-child {
        margin-top: 1rem;
    }

    .close {
        display: inline-block;
        cursor: pointer;
        height: 24px;
        width: 24px;
    }

    .animate {
        animation-duration: 0.5s;
        animation-name: slidein;
    }
      
    @keyframes slidein {
        from {
            opacity: 0;
          margin-left: -10%;
        }
      
        to {
            opacity: 1;
          margin-left: 0%;
        }
    }

    .fade-out {
        transition: opacity 0.5s ease-out;
        opacity: 0;
      }

    main {
        margin-top: 5rem;
        padding: 0 1rem;
    }

    .insights {
        padding: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .full-img {
        max-width: 70%;
        max-height: 70%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        zoom: none;
    }

    .closeup {
        position: absolute;
        top: 80px;
        right: 50px;
        font-size: 50px;
        color: var(--color-danger);
    }

    
    .right {
        width: 94%;
        margin: 0 auto 4rem;
    }

    .right-top {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0 0.8rem;
        align-items: center;
        height: 4.6rem;
        margin: 0;
        width: 100%;
        background-color: var(--color-white);
        z-index: 2;
        box-shadow: 0rem 1rem 1rem var(--color-light);
    }

    .info {
        display: none;
    }

    #menu-btn {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        position: absolute;
        left: 1rem;
        
    }
    
    .recent-updates {
        margin-top: 0rem;
    }
}








